<form (ngSubmit)= "saveAdmin()">

    <input type="text" 
           name="username" [(ngModel)] = "admin.username" 
           placeholder="Enter Username: "/>

    <input type="text" 
           name="password" [(ngModel)] = "admin.password" 
           placeholder="Enter Password: "/>

    <input type="text" 
           name="emailId" [(ngModel)] = "admin.emailId" 
           placeholder="Enter EmailId: "/>

    <button type="submit">Add Admin</button>
    <!-- <button *ngIf ="admin.id"  (click) ="deleteAdmin(admin.id)">Delete</button> -->
    


</form>